spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/widgera
    username: postgres
    password: postgres

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

  data:
    redis:
      host: localhost
      port: 6379

logging:
  level:
    root: INFO
    com.widgera: DEBUG
    org.springframework.security: DEBUG
